# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.
NODE_ENV=development

# ENV for APP
APP_NAME=storm-detect
APP_PORT=3000

# ENV for DB
DB_HOST=localhost
DB_PORT=5432
DB_NAME=storm-detect
DB_USER=postgres
DB_PASS=Ductin847378mdt$

# Application Port - express server listens on this port (default 3000).
PORT=3000
